// pixelgrid.less
@import "bootstrap.min.css";

header {
  margin: 2em auto;
  text-align: center;
  h1, h2 {
    display: none;
  }
}

label:after {
  content: ':';
}

section {
  background-color: "#777";
  border: thin solid #ddd;
  border-radius: 4px;
  padding: 2em;
}

h4 {
  display: inline-block;
}

canvas {
  display: none;
}
